html {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.info {
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    width: 75%;
}

.header {
    text-align: center;
}

.scores{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.rdmNum {
    padding: 20px;
    color: #fff;
    background-color: gray;
    display: block;
    width: 200px;
    height: 100px;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 20px;
}

#randomNum{
    font-size:30px;
    color: rgb(226, 58, 58);
    padding-top:10px;
    text-decoration: underline;
}

.userTotal {
    display: block;
    color: #fff;
    background-color: gray;
    width: 200px;
    margin: 0 auto;
    padding:15px;
    border-radius: 20px;
}

.gems {
    clear: both;
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    height: 100px;
    margin: 0 auto;
    font-size: 20px;
}

.gemImage {
    width: 100px;
    height: 100px;
    margin: auto;
}

.winsAndLosses {
    display: block;
    margin: 10px auto;
    background-color: gray;
    padding:10px;
    width: 50%;
    color: #fff;
    border-radius: 20px;
}

#one {
    color: blue;
}

#one::before {
    border: 4px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);  
}

#two {
    color: green;
}

#two::before {
    border: 4px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

#three {
    color: red;
}

#three::before {
    border: 4px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

#four {
    color: yellow;
}

#four::before {
    border: 4px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}